<div id='content'>
  <h2>{{t 'accomodations.Hotels'}}</h2>
  <p>{{t 'accomodations.Weve_contacted_a_handful_of_local_hotels'}}</p>

  <ul>

    <li>
    <div class='paragraph-group'>
      <p><a href='https://resweb.passkey.com/go/MartinSliterWedding'>{{t 'accomodations.Marriott_at_the_Brooklyn_Bridge'}}</a></p>
      <p>{{t 'accomodations.289_night_until_August_17'}}</p>
      <p>{{t 'accomodations.This_is_a_20_minute_subway_ride_or_'}}</p>
    </div>
    </li>

    <li>
    <div class='paragraph-group'>
      <p><a href='http://cwp.marriott.com/nycbf/smw/'>{{t 'accomodations.Brooklyn_Fairfield_Inn'}}</a></p>
      <p>{{t 'accomodations.219_night'}}</p>
      <p>{{t 'accomodations.This_is_a_10_minute_taxi_ride'}}</p>
    </div>
    </li>

    <li>
    <div class='paragraph-group'>
      {{t 'accomodations.Marriott_Downtown_239_night'}}
    </div>
    </li>

  </ul>

  <h2>{{t 'accomodations.Traveling_with_a_group'}}</h2>

    <p>{{t 'accomodations.If_you_need_to_book_more_than_one_room'}}</p>
    <ul>
      <li>
        <div class='paragraph-group'>
          <a href="https://www.airbnb.com/locations/new-york/park-slope">Park Slope</a>{{t 'accomodations.Park_Slope_is'}}
        </div>
      </li>
      <li>
        <div class='paragraph-group'>
          <a href="https://www.airbnb.com/locations/new-york/prospect-heights">Prospect Heights</a>{{t 'accomodations.This_neighborhood_is_within_walking_distance'}}
        </div>
      </li>
    </ul>
</div>
