<div id="nav">
  <img id="flowers" src="/assets/flowers.png" alt="flowers"/>
  {{#linkTo "index"}}{{t 'Wedding.Wedding'}}{{/linkTo}}
  {{#linkTo "our-story"}}{{t 'our_story.Our_Story'}}{{/linkTo}}
  {{#linkTo "accomodations"}}{{t 'accomodations.Accomodations'}}{{/linkTo}}
  {{#linkTo "registry"}}{{t 'registry.Registry'}}{{/linkTo}}
  {{#linkTo "things-to-do"}}{{t 'things_to_do.NYC_Entertainment'}}{{/linkTo}}
</div>
{{outlet}}
