<div id="nav">
  <img id="flowers" src="/assets/flowers.png" alt="flowers"/>
  <a href="#our-wedding">{{t 'Wedding.Wedding'}}</a>
  <a href="/our-story">{{t 'our_story.Our_Story'}}</a>
  <a href="/accomodations">{{t 'accomodations.Accomodations'}}</a>
  <a href="/registry">{{t 'registry.Registry'}}</a>
  <a href="/things-to-do">{{t 'things_to_do.NYC_Entertainment'}}</a>
</div>
{{outlet}}
