<div id="nav">
  <img id="flowers" src="/assets/flowers.png" alt="flowers"/>
  {{#link-to "index"}}{{t 'Wedding.Wedding'}}{{/link-to}}
  {{#link-to "our-story"}}{{t 'our_story.Our_Story'}}{{/link-to}}
  {{#link-to "accomodations"}}{{t 'accomodations.Accomodations'}}{{/link-to}}
  {{#link-to "registry"}}{{t 'registry.Registry'}}{{/link-to}}
  {{#link-to "things-to-do"}}{{t 'things_to_do.NYC_Entertainment'}}{{/link-to}}
</div>
{{outlet}}
