<div id='content-with-hero'>
  <img id="engagement-hero" src="/assets/engagement.jpg" alt="engagement pic"/>

  <div id='inner-content'>
    <h2 id='our-wedding'>{{t 'Wedding.Our_Wedding'}}</h2>
    <div class='paragraph-group'>
      <p>{{t 'Wedding.Saturday_September_17'}}</p>
      <p>{{t 'Wedding.5_PM'}}</p>
      <p>
      The Brooklyn Society for Ethical Culture
      </p>
      <p>
      53 Prospect Park West
      </p>
      <p>
      Brooklyn, NY 11215
      </p>
    </div>
    <div class='paragraph-group'>
      <h2>{{t 'Wedding.Brunch'}}</h2>
      <p>{{t 'Wedding.12_PM'}}</p>
      <p>{{t 'Wedding.Address_in_invitations'}}</p>
    </div>
  </div>
</div>
