<div id='content' class='how-we-met'>
  <h2>{{t 'our_story.How_We_Met'}}</h2>
  <p>{{t 'our_story.Rebecca_and_Francisco_met_on_a_ski_trip_organized_by_their_coworkers'}}</p>
  <img src="/assets/cubs.jpg" alt="cubs game"/>
  <p>{{t 'our_story.About_a_year_into_their_relationship_Francisco_and_Rebecca'}}</p>
  <img src="/assets/quilotoa.jpg" alt="Ecuador"/>
  <p>{{t 'our_story.When_their_assignment_was_over'}}</p>
  <img src="/assets/wendy.jpg" alt="wendy davis the cat"/>
  <p>{{t 'our_story.Shortly_after_Rebecca_moved_to_New_York'}}</p>
  <img src="/assets/halfmarathon.png" alt="the brooklyn half marathon"/>
  <p>{{t 'our_story.This_past_fall_Francisco_organized_a_trip_to_the_Catskills'}}</p>
  <img src="/assets/engagement.jpg" alt="getting engaged"/>
</div>
