<div id='content'>
  <h2>{{t 'things_to_do.Dining_and_Entertainment_in_New_York_City'}}</h2>

  <p>{{t 'things_to_do.Here_are_some_of_the_places_we_visit'}}</p>

  <div class='paragraph-group'>
    <p><a href='https://en.wikipedia.org/wiki/Prospect_Park_(Brooklyn)'>Prospect Park</a></p>
    <p>{{t 'things_to_do.Prospect_Park_is_Brooklyns'}}</p>
  </div>

  <div class='paragraph-group'>
    <p><a href='http://brooklynboulders.com/brooklyn/'>Brooklyn Boulders</a></p>
    <p>{{t 'things_to_do.Brooklyn_Boulders_is_an'}}</p>
  </div>

  <div class='paragraph-group'>
    <p><a href='http://www.threesbrewing.com/'>Threes Brewing</a></p>
    <p>{{t 'things_to_do.This_is_a_fun_brewery_thats_right_around'}}</p>
  </div>

  <div class='paragraph-group'>
    <p><a href='http://pizzalovesemily.com/'>Emily Pizza</a></p>
    <p>{{t 'things_to_do.This_is_a_pizza_place_thats_close_to_downtown_Brooklyn'}}</p>
  </div>

  <div class='paragraph-group'>
    <p><a href='http://www.russanddaughterscafe.com/'>Russ and Daughters Cafe</a></p>
    <p>{{t 'things_to_do.This_cafe_is_an_offshoot_of_a_hundred_year_old_deli'}}</p>
  </div>

  <div class='paragraph-group'>
    <p><a href='www.jamesrestaurantny.com'>James Restaurant</a></p>
    <p>{{t 'things_to_do.This_restaurant_is_in_Prospect_Heights_close_to'}}</p>
  </div>
</div>
